<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Carbon" />
	<package id="conemu" />
	<package id="docker-for-windows" />
	<package id="f.lux" />
	<package id="git" />
	<package id="glasswire" />
	<package id="googlechrome" />
	<package id="grepwin" />
	<package id="sourcetree" />
	<package id="linqpad" />
	<package id="lockhunter" />
	<package id="poshgit" />
	<package id="postman" />
	<package id="puppet-agent" />
	<package id="pycharm-community" />
	<package id="python" />
	<package id="slack" />
	<package id="sql-server-management-studio" />
	<package id="tortoisegit" />
	<package id="notepadplusplus.install" />
	<package id="nuget.commandline" />
	<package id="visualstudiocode" />
	<package id="vagrant" />
	<package id="virtualbox" />
	<package id="winmerge" />
	<package id="unxutils" />
</packages>